<div class="row" >
    <h4>Order History</h4>
</div>
<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Order Date</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Current Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orderList">
        <th scope="row">{{order.orderId}}</th>
        <td>{{order.orderDate | date}}</td>
        <td>{{order.totalPrice | currency}}</td>
        <td>{{order.status}}</td>
        <td>
            <a [routerLink]="['/order-items']">View Details</a>
        </td>
      </tr>
    </tbody>
  </table>
