<div class="row">
  <h4>My Order History</h4>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Order Date</th>
      <th scope="col">Total Amount</th>
      <th scope="col">Current Status</th>
      <th scope="col">View Details</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orderList">
      <th scope="row">{{ order.orderId }}</th>
      <td>{{ order.orderDate | date }}</td>
      <td>{{ order.totalPrice | currency }}</td>
      <td>{{ order.status }}</td>
      <td>
        <a [routerLink]="['/order-items', order.orderId]">View</a>
      </td>
      <td>
        <i
          *ngIf="order.status == orderStatus.PENDING"
          class="fa fa-ban"
          aria-hidden="true"
          style="font-size: large; color: orange; cursor: pointer"
          (click)="cancelOrder(order.orderId)"
        >
          Cancel</i
        >
      </td>
    </tr>
  </tbody>
</table>
