<div class="row">
  <h4>Dash board - Customer Order History</h4>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Order Date</th>
      <th scope="col">Total Amount</th>
      <th scope="col">Current Status</th>
      <th scope="col">View Details</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orderList">
      <th scope="row">{{ order.orderId }}</th>
      <td>{{ order.orderDate | date }}</td>
      <td>{{ order.totalPrice | currency }}</td>
      <td>{{ order.status }}</td>
      <td>
        <a [routerLink]="['/order-items', order.orderId]">View</a>
      </td>
      <td>
        <i *ngIf="order.status != orderStatus.CANCELED"
          class="fa fa-check-circle-o mx-3"
          aria-hidden="true"
          style="font-size: large; color: green; cursor: pointer"
          (click)="approveOrder(order)"
        >
          Deliver</i
        >
        <i *ngIf="order.status != orderStatus.CANCELED"
          class="fa fa-times-circle-o"
          aria-hidden="true"
          style="font-size: large; color: red; cursor: pointer"
          (click)="rejectOrder(order)"
        >
          Reject</i
        >
        <span *ngIf="order.status == orderStatus.CANCELED">The order Cancelled by customer</span>
      </td>
    </tr>
  </tbody>
</table>
