<div class="col-8"><h4>Products</h4></div>
<div class="col-4">
  <button class="btn btn-outline-info" (click)="addNewProduct()">Add New</button>
  <button class="btn btn-outline-warning" (click)="export()">Export Excel</button>
</div>
<table class="table" #TABLE>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Brand</th>
      <th scope="col">Quantity</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <th scope="row">{{ product.categoryId }}</th>
      <td>{{ product.productId }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.categoryId }}</td>
      <td>{{ product.brandId }}</td>
      <td>{{ product.quantity }}</td>
      <td>
        <button class="btn btn-outline-info" (click)="updateProduct(product.categoryId)" >Edit</button>
        <button class="btn btn-outline-danger" (click)="deleteProduct(product.productId, product.name)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
